@{
    ViewData["Title"] = "SignUp";
    Layout = null;
}

@model SignUpViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/x-icon" href="~/adminkit-3.1.0/static/img/icons/logo.ico" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-up.html" />

    <title>Üye Ol | Quick Quiz</title>

    <link href="~/adminkit-3.1.0/static/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Kullanıcı Kayıt</h1>
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-info" role="alert">
                                    @TempData["SuccessMessage"]
                                </div>
                            }
                            <p class="lead">
                                Kendinize özel sorularınızı paylaşın!
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                                    </div>
                                    <form asp-controller="Home" asp-action="SignUp" method="post">
                                        <div class="row mb-3">
                                            <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="UserName" class="form-control">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="Email" class="form-control">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="Password" class="col-md-4 col-form-label" asp-for="Password"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="Password" class="form-control">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordConfirm"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="PasswordConfirm" class="form-control">
                                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-8 offset-md-4">
                                                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                                            </div>
                                        </div>
                                        <br />
                                        <a asp-action="SignIn" asp-controller="Home"> Giriş ekranına dönmek için tıklayın!</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/adminkit-3.1.0/static/js/app.js"></script>
</body>
</html>