@{
    ViewData["Title"] = "Result";
    Layout = null;
}

<style>
    .genel {
        margin-top: -9.75rem !important;
    }
    .sonuc {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #313645;
        font-family: verdana, sans-serif;
    }

    .table  {
        background-color: #313645;
        color: #ced8e1 !important;
    }

    .card-header{
        background-color: #313645;
    }

</style>

<title>Quick Quiz | </title>

<link href="~/adminkit-3.1.0/static/css/app.css" rel="stylesheet">

<div class="row sonuc">
    <div class="col-12 col-lg-8 col-xxl-9 d-flex genel">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Sonuçlar</h5>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>Sıralama</th>
                        <th class="d-none d-xl-table-cell">Kullanıcı Adı</th>
                        <th>Skor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Project Apollo</td>
                        <td class="d-none d-xl-table-cell">01/01/2021</td>
                        <td><span class="badge bg-success">Done</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-secondary col-md-3" asp-action="Index" asp-controller="Home">Anasayfaya dön</a>
</div>

<script src="~/adminkit-3.1.0/static/js/app.js"></script>