<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuiZck</title>
    @* <link rel="stylesheet" href="/css/template/feather.css"> *@
    <link rel="stylesheet" href="/css/template/themify-icons.css">
    <link rel="stylesheet" href="/css/template/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/template/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/3a2dc97f33.js" crossorigin="anonymous"></script>
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" asp-controller="Home" asp-action="Index"><img src="/QuiZckLogo.png" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Index"><img src="/QuiZckLogo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            
                            @{
                                string name = null;
                            }
                            <form role="search" asp-action="UserSearch" asp-controller="Member" method="get">
                                @* <div class="form-group"> *@
                                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                        <span class="input-group-text" id="search">
                                            <i class="ti-search"></i>
                                        </span>
                                    <input type="text" asp-for=@name class="form-control" id="navbar-search-input" placeholder="Arama Yap" aria-label="search" aria-describedby="search">
                                    </div>
                                    @* <input type="text" asp-for=@name placeholder="Arama yapın..." class="form-control mt-1" id="top-search"> *@
                                @* </div> *@
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="images/faces/face28.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="menu-icon mdi mdi-bank"></i>
                            <span class="menu-title">Ana Sayfa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Question" asp-action="Add">
                            <i class="menu-icon mdi mdi-comment-check-outline"></i>
                            <span class="menu-title">Soru Oluştur</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Question" asp-action="AllQuestions">
                            <i class="menu-icon mdi mdi-comment-question-outline"></i>
                            <span class="menu-title">Sorularım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Test" asp-action="Index">
                            <i class="menu-icon mdi mdi-clipboard-text"></i>
                            <span class="menu-title">Testlerim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Member" asp-action="Logout" asp-route-returnurl="/Home/SignIn">
                            <i class="menu-icon mdi mdi-export"></i>
                            <span class="menu-title">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </nav>
        <div class="main-panel">
            @* <div class="content-wrapper"> *@
                @RenderBody()
            @* </div> *@
        </div>
        </div>
    </div>
    <script src="~/js/template/template.js"></script>
    <script src="~/js/template/vendor.bundle.base.js"></script>
</body>

</html>

