@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


.item-desc h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
.line-title {
  position: relative;
  width: 400px;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 28px;
  padding-bottom: 16px;
  
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 320px;
  background: #5865f2;
}

.testcard-section {
  padding: 60px 50px;
}
.testcard-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.testcard-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.testcard-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.testcard-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.testcard-section .item-desc {
  padding: 0 24px 80px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.testcard-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.testcard-section .item.active .wrappertestbutton .starttestbutton {
    display: flex;
  }
.testcard-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

  .testcard-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

.testcard-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .testcard-section {
    padding: 50px 30px;
  }
  .testcard-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .testcard-section .item.active {
    width: 400px;
  }
  .testcard-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .testcard-section {
    padding: 50px 30px 40px;
  }
  .testcard-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .testcard-section .item.active {
    width: 360px;
  }
  .testcard-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .testcard-section {
    padding: 30px 15px 20px;
  }
  .testcard-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .testcard-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .testcard-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}



@import url('https://fonts.googleapis.com/css?family=Raleway');

:root, button{
    font-family: 'Raleway', serif;
}

*{
    box-sizing: border-box;
}


.try-again{
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.try-again:after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.try-again:hover:after{
    left: 40%;
    right: 40%;
}

.wrappertestbutton{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.starttestbutton{
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    margin-bottom:15px;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 60px;
    width: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 155px;
    box-shadow: 0 0 0 #5865f2, 0 0 0 #5865f2;
}

.starttestbutton-text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.starttestbutton-circle{
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px #504bff, 0 0 20px #504bff, 0 0 30px #504bff;
    transition: all 0.5s ease;
}

.starttestbutton-circle2{
    top: auto;
    bottom: 0;
}

.starttestbutton-circle3{
    left: auto;
    right: 0;
    box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
}

.starttestbutton-circle4{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
}

.starttestbutton:hover{
    box-shadow: -15px 0 70px -15px #504bff, 15px 0 70px -15px red;
}

.starttestbutton:hover .starttestbutton-circle1{
    transform: translate(-15px, -15px) scale(0);
}

.starttestbutton:hover .starttestbutton-circle2{
    transform: translate(-15px, 15px) scale(0);
}

.starttestbutton:hover .starttestbutton-circle3{
    transform: translate(15px, -15px) scale(0);
}

.starttestbutton:hover .starttestbutton-circle4{
    transform: translate(15px, 15px) scale(0);
}

.starttestbutton:hover .starttestbutton-circle{
    box-shadow: none;
}

.popup{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease
}

.popup-inside{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition:
            box-shadow 0.5s ease 0.7s,
            border-radius 0.35s ease 0.7s;
}




